*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

/* custom scroll bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #433e5f;
 
}

::-webkit-scrollbar-thumb {
  background: #55d925;
 
}
body{
  
  overflow: scroll;
  
  width:100%;
    background-color: #151320;
   
    height: 100vh;
    font-family: 'Poppins',sans-serif;
}
/* sems */
.sems {
  color:white;
  display:flex;
  flex:wrap;
  justify-content:center;
}
.sems a{
  border: none;
  background: none;
  height: 40px;
  text-decoration: none;
  padding: 6px;
  color:grey;
}

.sems .active{
  
  animation: glow 1s ease-in-out infinite alternate;
color: #6DE60D;
font-weight: bolder;

  
}
/* subjects*/ 

.sub{
  
  color:white;
  display:flex;
  flex:wrap;
  justify-content:center;
  
}
.sub a{
  text-decoration: none;
    font-weight: 1000;
  margin: 0 20px;
  background: none;
  color:white;
  border:none;
  font-size: 20px;
  
}
.subactiv a{
  color: #6DE60D;
  
}

/* cards */

.cards{ 
    
    margin: 10px; 
    
} 
.card{
   margin: 10px;
   border:1px solid #6DE60D; 
   
    margin: 10px;
    margin-top: 20px;
    background-color: #1c1b29;
   
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.container{
 margin: 2px;
    position: relative; 
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%); 
    height: 60vh;
}
textarea{
  color: white;
  overflow-y: scroll;
  font-weight: bold;
  padding: 15px;
   height: 100%;
    width:100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.texts-btn{
  border:0.5px solid ;
  border-radius: 5px;
    position: absolute;
    
  font-weight: bold;
  padding:1px 4px;
  color: white;
    background-image: linear-gradient(
        135deg,
        #1c1b29,
        #151320,
        #151320
    );
  
  margin-left: 60%;
 
} 
.card1>.container textarea{
    background-image: linear-gradient(
        165deg,
        #1c1b29,
       black
       
    );
    
}
.card2>.container textarea{
    background-image: linear-gradient(
         165deg,
        #1c1b29,
       black, black
       
    );
      
}
.card3>.container textarea{
    background-image: linear-gradient(
        165deg,
        #1c1b29,
       black, black
    );
}
.details{
    padding: 20px 10px;
}
.details>h3{
  
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
.upload a i{
  font-size: 30px;
  color: white;
  background: #6DE60D;
 
  padding:8px 10px;
  border-radius: 50%;
  position: fixed;
  right:10%;
  bottom:10%;
  z-index: 1;
  
}
@media only screen and (min-width: 980px) {

 
.sems button {
  border: none;
  background: none;
  height: 40px;
  text-decoration: none;
  padding: 6px;
  color:grey;
  font-size: 35px;
  margin: 10px;
}

.sub a{
  text-decoration: none;
    font-weight: 1000;
  margin: 40px;
  background: none;
  color:white;
  border:none;
  font-size: 50px;
  
}

.subactiv a{
  color: #6DE60D;
  
}

.card{
   margin: 40px;
    border:1px solid #6DE60D;
   
    color:grey;
    
    margin-top: 20px;
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}

.container{
 margin: 5px;
    position: relative; 
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%); 
    height: 60vh;
}
.upload a i{
  font-size: 30px;
  color: white;
  background: greenyellow;
    
    color:grey;
  
  padding:8px 10px;
  border-radius: 50%;
  position: fixed;
  right:10%;
  bottom:10%;
  z-index: 1;
}

.q-imgshow{
  border-radius: 20px;
  border: 1px solid  #6DE60D;
  color: grey;
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 40px;

}

.q-imgshow2{
  border-radius: 20px;
  border: 1px solid  #6DE60D;
  color: grey;
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 40px;

}
}
  .outline {
    display: none;
    background: #42445AAD;
    border-radius: 10px;
    margin: 20px;
    position: fixed;
    top: 35%;
    z-index: 1;
   text-align: center;
    border: 2px solid ;
    
    
  }
  .outline p{
    font-weight: bold;
    color: white;
    padding: 10px;
    font-size: 25px;
  }
  .buttons{
    display: flex;
    justify-content: center;
    
  }
  .buttons a button{
    margin: 15px;
    font-size: 20px;
    color: white;
    width:45px;
    font-weight: bold;
    
  }
.no{
  background:#CA1D1DAD;
  border-radius: 5px;
  
 
}
.yes{
  border-radius: 5px;
  
  background: #58CA1DAD;
  color: #333;

}

::selection {
  color: white;
  background:  #6DE60D;
 
} 

/* footer section styling */
footer{
  width: 100%;
    background: #16161AA6;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: greenyellow;
    
    text-decoration: none;
}
footer span a:hover{
    text-decoration: none;
}
.linkicon a{
  text-decoration: none;
}
.linkicon a i{
  color:white;
  margin: 10px;
  font-size: 20px;
  
}


.linkicon a i:hover{
  color:#763C32;
  margin: 10px;
  font-size: 20px;
}


/******************/

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 100px;
  background-color: #6DE60D;
  background: grey;
  background: grey;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -50px;
}

/* Popup arrow */
.popup .popuptext::after {
  
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #6DE60D transparent transparent transparent;

  border-color: #333 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


.q-btn button{
  padding:5px 10px;
  border: 1px solid #6DE60D;
  border: grey;
  border-radius: 10px;
  background:  #151320;
  color:  #6DE60D;
  color: grey;
  transition: 2s;
  box-shadow: 1px 1px  2px 1px rgba(109, 229, 13,0.7);
  box-shadow: 1px 1px  2px 1px rgba(66, 66, 66, 0.7);
}
.q-img img{
  border-radius: 20px;
  border: 1px solid  #6DE60D;
  border: 1px solid grey;
  display: none;
}
.q-imgshow img{
  display: block;
}
.q-imgshow{
  border-radius: 20px;
  border: 1px solid  #6DE60D;
  border: 1px solid  grey;
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 10px;

}

.q-btn2 button{
  padding:5px 10px;
  border: 1px solid #6DE60D;
  border: 1px solid  grey;
  border-radius: 10px;
  background:  #151320;
  color:  #6DE60D;
  color: grey;
  transition: 2s;
  box-shadow: 1px 1px  2px 1px rgba(109, 229, 13,0.7);
}
.q-img2 img{
  border-radius: 20px;
  border: 1px solid  #6DE60D;
  display: none;
}
.q-imgshow2 img{
  display: block;
}

.q-imgshow2{
  border-radius: 20px;
  border: 1px solid  #6DE60D;
  border: 1px solid  grey;
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 10px;

}
