*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
body{
  
  overflow: scroll;
  
  width:100vw;
    background-color: #151320;
    height: 100vh;
    font-family: 'Poppins',sans-serif;
}
/* sems */
.sems {
  color:white;
  display:flex;
  flex:wrap;
  justify-content:center;
}
.sems a{
  border: none;
  background: none;
  height: 40px;
  text-decoration: none;
  padding: 6px;
  color:grey;
}

.sems .active{
  
  animation: glow 1s ease-in-out infinite alternate;
color: #6DE60D;
font-weight: bolder;

  
}
/* subjects*/ 

.sub{
  
  color:white;
  display:flex;
  flex:wrap;
  justify-content:center;
  
}
.sub a{
  text-decoration: none;
    font-weight: 1000;
  margin: 0 20px;
  background: none;
  color:white;
  border:none;
  font-size: 20px;
  
}
.subactiv a{
  color: #6DE60D;
}

/* cards */

.cards{ 
    
    margin: 10px; 
    
} 
.card{
   margin: 10px;
    border:1px solid #6DE60D;
    margin: 10px;
    margin-top: 20px;
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.container{
 margin: 2px;
    position: relative; 
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%); 
    height: 60vh;
}
textarea{
  color:white;
  overflow-y: scroll;
  font-weight: bold;
  padding: 15px;
   height: 100%;
    width:100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.texts-btn{
  border:0.5px solid ;
  border-radius: 5px;
    position: absolute;
    
  font-weight: bold;
  padding:1px 4px;
  color: white;
    background-image: linear-gradient(
        135deg,
        #1c1b29,
        #151320,
        #151320
    );
  
  margin-left: 60%;
 
} /*
.container:after{
    content:"";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
} */
.card1>.container textarea{
    background-image: linear-gradient(
           165deg,
        #1c1b29,
       black, black
       
    );
    
}
.card2>.container textarea{
    background-image: linear-gradient(
       165deg,
        #1c1b29,
       black, black
    );
      
}
.card3>.container textarea{
    background-image: linear-gradient(
           165deg,
        #1c1b29,
       black, black
    );
}
.details{
    padding: 20px 10px;
}
.details>h3{
  
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
.upload a i{
  font-size: 30px;
  color: white;
  background: #6DE60D;
  padding:8px 10px;
  border-radius: 50%;
  position: fixed;
  right:10%;
  bottom:10%;
  z-index: 1;
  
}

::selection {
  color: white;
  background:  #6DE60D;
} 
@media only screen and (min-width: 980px) {

.sems button {
  border: none;
  background: none;
  height: 40px;
  text-decoration: none;
  padding: 6px;
  color: grey;
  font-size: 35px;
  margin: 10px;
}

.sub a {
  text-decoration: none;
  font-weight: 1000;
  margin: 40px;
  background: none;
  color: white;
  border: none;
  font-size: 50px;

}

.subactiv a {
  color: #6DE60D;
}

.card {
  margin: 40px;
  border: 1px solid #6DE60D;

  margin-top: 20px;
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}

.container {
  margin: 5px;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  height: 60vh;
}

.upload a i {
  font-size: 30px;
  color: white;
  background: red;
  padding: 8px 10px;
  border-radius: 50%;
  position: fixed;
  right: 10%;
  bottom: 10%;
  z-index: 1;
}
} 
.outline {
    display: none;
    background: #42445AAD;
    border-radius: 10px;
    margin: 20px;
    position: fixed;
    top: 35%;
    z-index: 1;
   text-align: center;
    border: 2px solid ;
    
    
  }
  .outline p{
    font-weight: bold;
    color: white;
    padding: 10px;
    font-size: 25px;
  }
  .buttons{
    display: flex;
    justify-content: center;
    
  }
  .buttons a button{
    margin: 15px;
    font-size: 20px;
    color: white;
    width:45px;
    font-weight: bold;
    
  }
.no{
  background:#CA1D1DAD;
  border-radius: 5px;
 
}
.yes{
  border-radius: 5px;
  
  background: #58CA1DAD;
}


/* footer section styling */
footer{
  width: 100%;
    background: #16161AA6;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: greenyellow;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: none;
}
.linkicon a{
  text-decoration: none;
}
.linkicon a i{
  color:white;
  margin: 10px;
  font-size: 20px;
  
}


.linkicon a i:hover{
  color:#763C32;
  margin: 10px;
  font-size: 20px;
}
